#container {
	/*border: 1px solid red;*/
	width: 100%;
	height: 300px;
	position: relative;
}

.pole {
	border: 1px solid #e3ba6d;
	background: rgba(152, 250, 152, 0.5);
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: 0;
}

#man {
	background: url(./img/sprite-marsch.png);
	background-position: 0px;
	/*transform: scaleX(-1);*/
	/*border: 1px solid green;*/
	width: 112px;
	height: 156px;
	position: absolute;
	bottom: 10px;
}

.invers {
	transform: scaleX(-1);
}